body
{
	margin: 10px 0 ;
	padding: 0 ;
	text-align: center ;
}
	
div#conteneur
{
	width: 770px ;
	margin: 0 auto ;
	text-align: left ;
}

h1#header
{
	height: 258px ;
    background-image: url("/ressources/images/apple.jpg");
	background-repeat: no-repeat;
	background-position: left;
	background-color:white;
	display: flex;
	justify-content: flex-end;
}
h1 a
{
	background-image: url("/Ressources/Images/title.gif");
	background-repeat: no-repeat;
	width: 397px;
	height: 69px;
}
h1 a span
{
	clip-path: inset(100%);
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
	
pre
{
	overflow: auto ;
}

* html pre
{
	width: 636px ;
}