body
{
	margin: 10px 0 ;
	padding: 0 ;
	text-align: center ;
}
	
#conteneur
{
	width: 770px ;
	margin: 0 auto ;
	text-align: left ;
	border: 2px solid #ab4;
}

h1#header
{
	height: 258px ;
    background-image: url("/ressources/images/apple.jpg");
	background-repeat: no-repeat;
	background-position: left;
	background-color:white;
	display: flex;
	justify-content: flex-end;
	margin-top: 0;
	margin-bottom: 0;
}

h1 a
{
	background-image: url("/Ressources/Images/title.gif");
	background-repeat: no-repeat;
	width: 397px;
	height: 69px;
	margin-top: 20px;
	margin-right: 20px;
}

h1 a span /* Cacher le texte du lien derrière l'image */
{
	clip-path: inset(100%);
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

ul#menu
{
	height: 35px;
	margin: 0;
	padding: 0;
	background: url("/Ressources/Images/bg_menu.gif") repeat-x 0 -25px;
	list-style-type: none;
}

ul#menu li
{
	float: left;
	text-align: center;
}

ul#menu li a
{
	width: 130px;
	line-height: 25px;
	font-size: 1.2rem;
	font-weight: bold;
	letter-spacing: 2px;
	color: #fff;
	display: block;
	text-decoration: none;
	border-right: 2px solid #dea;
}
	
pre
{
	overflow: auto ;
}

* html pre
{
	width: 636px ;
}

#contenu
{
	background-image: url("/Ressources/Images/bg_page.gif");
	background-repeat: no-repeat;
	background-position: left;
	padding-right: 25px;
	margin-left: 10px;
}

#contenu h2
{	
	margin-left: 69px;
}

#contenu h2
{
	padding-left: 25px;
	line-height: 25px;
	font-size: 1.4rem;
	background: url(little_apple.gif) no-repeat left bottom;
	border-bottom: 1px solid #9b2;
	color:#99BB22;
	background-image: url("/Ressources/Images/little_apple.gif");
	background-position: left;
	background-position-y:3px ;
	background-repeat: no-repeat;
	padding-bottom: 0px;
	border-bottom; 0;
}

#contenu h3
{
	padding-left: 5px;
	line-height: 20px;
	font-size: 1.1rem;
	border-bottom: 1px solid #9b2;
	border-left: 2px solid #9b2;
	color:#99BB22;
	margin-left: 89px;
}

#contenu p
{
	text-align: justify;
	text-justify: inter-word;
	text-indent: 30px;
	margin-left: 69px;
}

#contenu a
{
	font-size: 0.8rem;
	margin-left: 80px;
	color:black;
}

#contenu a:link 
{
	text-decoration: none;
}
  
#contenu a:visited 
{
	text-decoration: none;
}
  
#contenu a:hover 
{
	text-decoration: underline;
}
  
#contenu a:active 
{
	text-decoration: underline;
}

#footer
{
	text-align: end;
	color:#99BB22;
	font-size: 0.9rem;
	margin-right: 5px;
	margin-bottom: 5px;
}